/*
*  Styles for the huxley homepage
*
*/

    img.apply-button {
        margin-bottom: -10px;
    } 

    img.meet-students-button {

    }

    img.meet-alumni-button {
        margin-top: -10px;
    }

img.calendar-icon {
    float: right;
    margin-top: -25px;
    padding-right: 4em; 

}

//at breakpoint adjust layout

@media all and (max-width: 1025px) {

.landing-buttons {
    float: left;
}

img.calendar-icon {
    float: left;
    margin-bottom: .5em;
    }

}


