/**
 * @file
 * Customization for Huxley
 *
 */

@import "base";
@import "compass";
@import "zen";
@import "profiles";
@import "front";
$box-sizing-polyfill-path: "/sites/all/themes/wwuzen/js/boxsizing.htc";

// We are going to create a 980px wide, 5 column grid with 20px gutters between
// columns (applied as 10px of left/right padding on each column).
$zen-column-count:  12; // was 5
$zen-gutter-width:  30px; // was 20px

// Add the page background border-image:
@media screen and (min-width:800px) {
	body {
	  background-image: url('../images/tree-background.png');
	  background-position: center bottom;
	  background-attachment: fixed;
	  background-repeat: no-repeat;
	  background-size:100% auto;
	  -webkit-text-stroke: 0.2px;
	}
}

main {
	@include filter-gradient(#ffffff, #e6e9ed, vertical); // IE6-9
	@include background-image(linear-gradient(bottom, rgba(255,255,255,.5) 0%, rgba(255,255,255,1) 50%));
	overflow:hidden;
}


main blockquote { // Center within the content CDS-66 & change the bg color
		margin: 0.5em auto;
		background-color:#ffffff;
	}
main .content blockquote {
	background-color:#ffffff;
}

	a { color:$huxleyOrange; }

main {
	h1 { color:$huxleyGreenThird; }
	h2, h3, h4, dl dt, h5, h6 { color:#222; }
}

figure {
  padding:.5em;
  figcaption { margin-top:.5em; }
}

.footer-left p {
	font-size: 1.33em;
	text-transform: uppercase;
	text-align: right;
	line-height: 1.1;
	margin:1em 0;
	@media all and (max-width:800px) {
		text-align:left;
		padding:1em;
	}
	@media all and (max-width:360px) {
		padding:1em 0;
	}
	.diminutive-type {
		font-size: 1em;
		font-style: italic;
		font-weight: normal;
		text-transform: none;
		font-family: serif;
	}
}

caption {
	margin-bottom:1.5em;
}

@media all and (max-width:800px) {

	#collegeheader {
	  @include background(linear-gradient(top, #fff 70%, #efefef));
	  #site-name a:link, #site-name a:visited {
	  	color:$huxleyGreen;
	  }
	}

	//In IE8 opacity/transparency fails in an epic fashion with the image replacement
	//I chose to disable the link here and add faux padding for IE8 users.
	// We also use hex color codes for compatibility with older browsers.
	.lt-ie9 #collegeheader #site-name {
		background-color:#ffffff;
	  //padding:2em 3.4em .75em .75em;
	  a { display:none; border:none; }
	}
}

@media all and (min-width:801px) {

	.huxley-homepage-right-mid-left img {
	}

	#front-page-social-icons {
	}

	.site-header .site-name {
	  background-color:rgba(255, 255, 255, .8);
	  background-image:url("../images/huxley-logo.png");
	  background-position:center center;
	  background-repeat:no-repeat;
	  height:98px;
	  max-width:360px;
	  width:360px;
	  padding:0;
	  @include background-size(contain);
	  a:link, a:visited { @include hide-text-bg-img; font-size:inherit; }
	  /* font-size has to be inherit or else anchor has no height/width. Is there another solution so that the text isn't visible on selection?*/

		p { color:rgba(0,0,0,0);}
	}

	//In IE8 opacity/transparency fails in an epic fashion with the image replacement
	//I chose to disable the link here and add faux padding for IE8 users.
	// We also use hex color codes for compatibility with older browsers.
	.lt-ie9 .site-name {
		background-color:#ffffff;
	  //padding:2em 3.4em .75em .75em;
	  a { display:none; border: none; }
	}

}

/**
* Custom Flexslider sizes
**/

.flex_slider_288 {
	width:288px;
	@include zen-float(right);
	padding-left:1em;
}

/* *******************
   Huxley Homepage
******************* */

.huxley-homepage .page-title {
	border:none;
	padding:0;
}

.huxley-homepage .huxley-homepage-left-column {
	.huxley-homepage-opening-blurb {
		margin-bottom:1.5em;
		h2 { margin-top:0; }
	}
	.huxley-homepage-news {
		margin-bottom:1.5em;
		.news-story {
			background:url('../images/icons/earth-orange-small.png') no-repeat top left;
			margin-bottom:1.5em;
			padding-left:2.5em;
			.homepage-news-timestamp {}
			.homepage-news-title { margin-bottom:0; }
			a:after { content:' \00BB'; }
		}
	}
	.huxley-homepage-testimonials {
		background:#fff;
		padding:.75em;
		margin-bottom:1em;
		display:block;
		overflow:auto;
		.homepage-quote {
			font-size:1em;
			p { margin-bottom:.5em; }
			p:last-child { margin-bottom:0; }
			&:before { content:'\201C'; }
			&:after { content:'\201D'; }
			&:before, &:after {
				color:$huxleyGreen;
				font-family:serif;
				font-size:1.25em;
				font-weight:bold;
			}
		}
		.homepage-original-quote-author {
			text-align:right;
			font-size:.825em;
			margin-top:0;
			&:before { content:'\2013'; }
		}
		.homepage-quote-name {
			text-align:right;
			font-size:1.17em;
			font-style:italic;
			color:$huxleyGreen;
			margin-bottom:0;
			margin-top:.75em;
		}
		img {
			float:left;
			padding-right:.75em;
			max-width:100%;
			max-height:100%;
		}
	}
}

.huxley-homepage .huxley-homepage-right-column {
	.huxley-homepage-slideshow {
		background-color:#fff;
		padding:.5em;
		@include box-shadow(0 0 4px 2px #ddd);
		.flexslider {
			margin:0;
			background: #fff;
			border: none;
			position: relative;
			@include border-radius(0);
			@include box-shadow(none);
			zoom: 1;
			ul {
				background: #fff;
			}
		}
		.flex-control-paging li a {
			background:transparentize($huxleyOrange, .5);
			@include transition(background .25s);
			@include box-shadow(none);
			&.flex-active { background:$huxleyOrange; }
			&:hover, &:focus {
				@include transition(background .25s);
				background:transparentize($huxleyOrange, .15);
			}
		}
		div.flex-caption {
			margin-top:.5em;
		    font-size:.85em;
		    line-height:1.5;
		    font-style:italic;
		    background: #fff;
		    color: #000;
		}
		.slides img { margin:0 auto; }
		.flex-control-nav {
			width: 100%;
			position: static;
			bottom: 0;
		}
		.flex-direction-nav a { margin:-2.25em 1em; }
	}
	.huxley-homepage-people-and-places {
		margin-top:1em;
		.homepage-people-places-story {
			margin-top:1.5em;
			min-height:4em;
			background:url('../images/icons/diamond-tree-green.png') no-repeat top left;
			&:nth-of-type(2) { background-image:url('../images/icons/oval-tree-red.png'); }
			&:nth-of-type(3) { background-image:url('../images/icons/pine-tree-green.png'); }
			&:nth-of-type(4) { background-image:url('../images/icons/diamond-tree-orange.png'); }
			&:nth-of-type(5) { background-image:url('../images/icons/circle-tree-red.png'); }
			background-size:contain;
			padding-left:4.25em;
			a:after { content:' \00BB'; }
		}
	}
}



/* **************************
   Homepage Media Queries
*************************** */

@media all and (max-width: 500px) {
	.huxley-homepage #content .huxley-homepage-left-column .huxley-homepage-testimonials img { display:none; } // Hide testimonial image
}

@media all and (max-width: 800px) {
	.huxley-homepage #content .huxley-homepage-right-column .huxley-homepage-people-and-places { margin-bottom:2.5em; }
}

/* ****************************
   Apply Now and Calendar Icons
***************************** */

@media all and (max-width:519px){
		.huxley-calendar{margin-top:1em; margin-left:4.5em;}
}
@media all and (min-width:519px){
		.huxley-calendar{margin-top:-66px; margin-left:60px;}
}
@media all and (min-width:800px) and (max-width:943px){
		.huxley-calendar{margin-top:1em; margin-left:4.5em;}
}
